﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true"
    CodeBehind="Default.aspx.cs" Inherits="WebApplication2._Default" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
    <h2>
       Bienvenido a Facturame
    </h2>
    <p>
       Sistema de facturacion  que permite el ingreso de clientes, proveedores, productos y su facturacion
    </p>
    <p>
        Repositorio web en https://cjfn@bitbucket.org/cjfn/c.git
    </p>
</asp:Content>
